[[order]]

[build]
image = "atlantislab/stack-node:build"

[run]
[[run.images]]
image = "atlantislab/stack-node:run"

[[targets]]
os = "linux"
arch = "amd64"

[[targets]]
os = "linux"
arch = "arm64"

[[extensions]]
id = "tech.atlantislab.extensions.curl"
uri = "docker://docker.io/atlantislab/buildpack-extension-curl:0.0.1"

[[extensions]]
id = "tech.atlantislab.extensions.htop"
uri = "docker://docker.io/atlantislab/buildpack-extension-htop:0.0.1"

[[extensions]]
id = "tech.atlantislab.extensions.graphql-hive"
uri = "docker://docker.io/atlantislab/buildpack-extension-graphql-hive:0.0.1"

[[order-extensions]]
[[order-extensions.group]]
id = "tech.atlantislab.extensions.curl"

[[order-extensions.group]]
id = "tech.atlantislab.extensions.htop"

[[order-extensions.group]]
id = "tech.atlantislab.extensions.graphql-hive"

# Deprecated
[stack]
id = "tech.atlantislab.stacks.node"
run-image = "atlantislab/stack-node:run"
build-image = "atlantislab/stack-node:build"
